body{
    margin: 0px;
    font-family: Helvetica,Arial;
}
#background{
    border: 0px solid red;
    background-image: url("https://a.ftscrt.com/static/images/splash/Sunrise_BG_01.jpg");
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: left 0px;
    background-attachment: fixed;
}
#maincontainer{
    color: white;
    width:80%;
    margin: auto;
}
#innercontainer{
    width:90%;
    margin: auto;
}
#horizontalMenu{
    border: 0px solid red;
    text-align: left;
    padding-top: 22px;
    height:74px;
    font-size: 13px;
    /* position: fixed; */
}
#horizontalMenu ul{
    border:0px solid red;
    margin:0px;
    padding: 0px;
}
#horizontalMenu li{
    border: 0px solid red;
    display:inline;
    margin:0px 65px 0px 0px;
    list-style-type:none;
}
a{
    color: white;
    text-decoration:none;
}
#last{
    border: 0px solid red;
    float:right;
    margin:0px;
}
#last span{
    border:0px solid red;
    line-height: 22px;
    vertical-align: top;
    padding-right: 5px;
}
#last img{
    border: 0px solid red;
}
h1{
    font-size: 43px;
    border: 0px solid red;
    margin:0px;
    height: 73px;
    font-weight:normal ;
}
h1+img{
    border: 0px solid red;
}
#social{
    border:0px solid red;
    margin-top: 35px;
    width:380px;
}
#facebook{
    border: 0px solid red;
    margin-bottom: 20px;
    line-height: 30px;
    background-color: #3766B8;
    padding-top: 5px;
}
#facebook>img{
    border: 0px solid red;
    width:7%;
    margin-left: 5px;
    margin-right: 70px;
}
#google{
    border:0px solid red;
    line-height: 40px;
    height:39px;
    background-color: #4285F4;
}
#google>img{
    margin-right: 70px;
}
div>span{
    vertical-align: top;
}
#email{
    border:0px solid red;
    line-height: 20px;
}
#email>input,button{
    padding-left: 5px;
    font-size: 20px;
    line-height: 40px;
    width: 182px;
}
#email>button{
    color: white;
    border: 1px solid #336F3F;
    background-color: #32B34C;
}
h3{
    border:1px solid red;
}
div+p{
    font-family: Helvetica,Arial;
    line-height: 35px;
    font-size: 21px;
}
#store{
    border:0px solid red;
    width:20%;
    margin:auto;
}
table{
    width:100%;
    border-collapse: collapse;
}
.col{
    width:50%;
}
.image{
    padding: 0px;
}
img{
    vertical-align: bottom;
    border: 0px;
}
.greenbar{
    background-color: #32B34C;
}
#green1{
    padding: 20px 100px;
    color:white;
    background-color: #32B34C;
}
#green1>div{
    width:83%;
    margin:auto;
}
#green1>div>h2{
    font-size: 43px;
    font-weight: normal;
}
#green1>div>p{
    padding-top: 14px;
    font-size: 21px;
    line-height: 35px;
}
#botoomimage{
    padding-top: 30px;
}
#image2{
    background-color: #EDF1E9;
    width: 100%;
    text-align: center;
    zoom:1;
    min-width: 1030px;
    display: inline-block;
}
#image2>img{
    margin-top: -30px;
    text-align: center;
}
#white{
    background-color: #EDF1E9 ;
}
#white>div{
    width: 70%;
    margin: auto;
    display: flex;
}
#white>div>div{
    width: 45%;
    margin-top: 40px;
    line-height: 26px;
}
#white div+div{
    width:52%;
}
#white h1{
    color: #32B34C;
}
#white ul{
    display: block;
}
#white li{
    display: list-item;
    list-style-type: disc;
}
#white p{
    text-align: justify;
    margin:-10px;
}
#green1 #grid1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
#green1 #black{
    border: 0px solid red;
    color: black;
}
#toolscont{
    width: 80%;
    border: 0px solid red;
}
.toolsinnercont{
    display: inline-block;
    margin-right: 40px;
    width:45%;
    border:0px solid red;
    color: black;
    font-weight: 600;
}
.toolsinnercont img{
    vertical-align: text-bottom;
}
.toolsinnercont p{
    display: inline-block;
    width: 80%;
}
#bottomimage>#image2.blueimage{
    background-color: #93ADD2;
}
#blue{
    background-color: #93ADD2;
    color: white;
}
#bluemain{
    width:70%;
    margin: auto;
}
#bluecont{
    margin: auto;
}
#bluecont>h1{
    padding-top: 50px;
}
#bluecont>p{
    font-size: 21px;
    line-height: 35px;
    width: 55%;
}
#bluemain img{
    vertical-align: middle;
}
#bluemain img+p{
    display: inline-block;
    font-size: 21px;
}
#blueimg{
    margin-top: 40px;
}
#blueimg img{
    width: 170px;
    margin-left: 0px;
}
#sideimg{
    display: inline-block;
}
#sideimg img{
    margin-left: 550px;
    width: 420px;
    margin-top: -330px;
}
#black{
    background-color: #111;
    color: white;
}
#blacktable{
    margin-top: -57px;
    margin-bottom: -29px;
}
#blackmain{
    width:71%;
    margin:auto;
    padding-top: 50px;
}
#black p{
    font-size: 21px;
}
#blackmain>div{
    display: inline-block;
}
#blackmain>div+div{
    vertical-align:middle;
    padding-left: 200px;
    margin-bottom: 50px;
}
#white1{
    background-color: #EDF1E9;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#white1 p{
    font-weight:bold;
}
#white1 p~img{
    margin-left: 20px;
}